Mahdi Ahmadi
Blatt_1 Data Science
teil 1 
Schritt 1_2

In [1]:
import requests
import bs4
import pandas as pd
import numpy as np
from datetime import datetime




url = "https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares.html"
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}
response = requests.get(url,headers=headers)
print(response)
if response.status_code == 200:
    page_content = response.text
    soup = bs4.BeautifulSoup(page_content, 'html.parser')# html inhlat paresen

    table = soup.find('table', {'class': 'table table-striped'})# tabllen als Variable speichern
    if table:
        df = pd.read_html(str(table))[0]#html datei einlesen
        df.columns = ['rank', 'x_class', 'date', 'region', 'start_time', 'max_time', 'end_time', 'film'] # spalten benennen     
        df = df.drop(columns = ['film'])
        #kombi datum und zeit in 3 datetime spalten 
        for index, row in df.iterrows():
            date_str = row ['date']
            start_time_str = row ['start_time']
            max_time_str = row ['max_time']
            end_time_str = row ['end_time']

            #kombinieren Datum und  Zeit
            start_datetime = datetime.strptime(f"{date_str} {start_time_str}", "%Y/%m/%d %H:%M") 
            max_datetime = datetime.strptime(f"{date_str} {max_time_str}", "%Y/%m/%d %H:%M")
            end_datetime = datetime.strptime(f"{date_str} {end_time_str}", "%Y/%m/%d %H:%M")

            #aktualisieren der Daten
            df.at[index, 'start_datetime'] = start_datetime
            df.at[index, 'max_datetime'] = max_datetime
            df.at[index, 'end_datetime'] = end_datetime
            
            # Lösche die alten Spalten
        df_weather = df.drop(columns = ['date', 'start_time', 'max_time', 'end_time'])

        #Regionen mit - = NaN
        df_weather['region'] = df_weather['region'].replace('-', np.nan)
        #Deimension des DataFrames
        print(f"Dimension: {df_weather.shape[0]} × {df_weather.shape[1]}")

        print(df_weather.head(50))
    else:
        print ("Tablle nicht gefunden")
else :
    print ("Seite nicht gefunden")

<Response [200]>
Dimension: 50 × 6
    rank  x_class  region      start_datetime        max_datetime  \
0      1     X40+     486 2003-11-04 19:29:00 2003-11-04 19:53:00
1      2  X28.57+    9393 2001-04-02 21:32:00 2001-04-02 21:51:00
2      3  X24.57+     486 2003-10-28 09:51:00 2003-10-28 11:10:00
3      4  X24.42+     808 2005-09-07 17:17:00 2005-09-07 17:40:00
4      5  X20.67+    9415 2001-04-15 13:19:00 2001-04-15 13:50:00
5      6   X14.36     486 2003-10-29 20:37:00 2003-10-29 20:49:00
6      7   X13.37    2673 2017-09-06 11:53:00 2017-09-06 12:02:00
7      8   X12.97    8100 1997-11-06 11:49:00 1997-11-06 11:55:00
8      9   X12.95     930 2006-12-05 10:18:00 2006-12-05 10:35:00
9     10   X11.96     486 2003-11-02 17:03:00 2003-11-02 17:25:00
10    11   X11.88    2673 2017-09-10 15:35:00 2017-09-10 16:06:00
11    12   X10.18     720 2005-01-20 06:36:00 2005-01-20 07:01:00
12    13    X9.96    1263 2011-08-09 07:48:00 2011-08-09 08:05:00
13    14     X9.4     930 2006-12-06 18:29:00 2006-12-06 18:47:00
14    15       X9    3842 2024-10-03 12:08:00 2024-10-03 12:18:00
15    16     X8.9    9733 2001-12-13 14:20:00 2001-12-13 14:30:00
16    17    X8.87     808 2005-09-09 19:13:00 2005-09-09 20:04:00
17    18    X8.79    3664 2024-05-14 16:46:00 2024-05-14 16:51:00
18    19    X8.21    9077 2000-07-14 10:03:00 2000-07-14 10:24:00
19    20    X8.08    9415 2001-04-06 19:10:00 2001-04-06 19:21:00
20    21    X7.79    1429 2012-03-07 00:02:00 2012-03-07 00:24:00
21    22    X7.77     808 2005-09-08 20:52:00 2005-09-08 21:06:00
22    23    X7.77     486 2003-10-23 08:19:00 2003-10-23 08:35:00
23    24     X7.7    9591 2001-08-25 16:23:00 2001-08-25 16:45:00
24    25    X7.13    1990 2014-02-25 00:39:00 2014-02-25 00:49:00
25    26     X7.1    3842 2024-10-01 21:58:00 2024-10-01 22:20:00
26    27    X7.03    8307 1998-08-18 22:10:00 1998-08-18 22:19:00
27    28    X6.98      39 2002-07-23 00:18:00 2002-07-23 00:35:00
28    29    X6.37    3590 2024-02-22 22:08:00 2024-02-22 22:34:00
29    30    X5.89    3664 2024-05-11 01:10:00 2024-05-11 01:23:00
30    31    X5.83    9236 2000-11-26 16:34:00 2000-11-26 16:48:00
31    32    X5.61     488 2003-11-03 09:43:00 2003-11-03 09:55:00
32    33    X5.57    8307 1998-08-19 21:35:00 1998-08-19 21:45:00
33    34    X5.52     720 2005-01-17 06:59:00 2005-01-17 09:52:00
34    35    X5.37    8384 1998-11-22 06:30:00 1998-11-22 06:42:00
35    36    X5.24     649 2004-07-16 13:49:00 2004-07-16 13:55:00
36    37    X5.17     808 2005-09-09 09:42:00 2005-09-09 09:59:00
37    38    X5.17     365 2003-05-28 00:17:00 2003-05-28 00:27:00
38    39    X5.01    3536 2023-12-31 21:36:00 2023-12-31 21:55:00
39    40    X4.99    9767 2001-12-28 20:02:00 2001-12-28 20:45:00
40    41    X4.93    1890 2013-11-05 22:07:00 2013-11-05 22:12:00
41    42    X4.88     930 2006-12-13 02:14:00 2006-12-13 02:40:00
42    43    X4.77    8395 1998-11-28 04:54:00 1998-11-28 05:52:00
43    44    X4.74      39 2002-07-20 21:04:00 2002-07-20 21:30:00
44    45    X4.64    1748 2013-05-14 00:00:00 2013-05-14 01:11:00
45    46    X4.58    2192 2014-10-24 21:07:00 2014-10-24 21:41:00
46    47    X4.54    3825 2024-09-14 15:13:00 2024-09-14 15:29:00
47    48    X4.54      69 2002-08-24 00:49:00 2002-08-24 01:12:00
48    49    X4.52    3663 2024-05-06 05:38:00 2024-05-06 06:35:00
49    50    X4.39      30 2002-07-15 19:59:00 2002-07-15 20:08:00

          end_datetime
0  2003-11-04 20:06:00
1  2001-04-02 22:03:00
2  2003-10-28 11:24:00
3  2005-09-07 18:03:00
4  2001-04-15 13:55:00
5  2003-10-29 21:01:00
6  2017-09-06 12:10:00
7  1997-11-06 12:01:00
8  2006-12-05 10:45:00
9  2003-11-02 17:39:00
10 2017-09-10 16:31:00
11 2005-01-20 07:26:00
12 2011-08-09 08:08:00
13 2006-12-06 19:00:00
14 2024-10-03 12:27:00
15 2001-12-13 14:35:00
16 2005-09-09 20:36:00
17 2024-05-14 17:02:00
18 2000-07-14 10:43:00
19 2001-04-06 19:31:00
20 2012-03-07 00:40:00
21 2005-09-08 21:17:00
22 2003-10-23 08:49:00
23 2001-08-25 17:04:00
24 2014-02-25 01:03:00
25 2024-10-01 22:29:00
26 1998-08-18 22:28:00
27 2002-07-23 00:47:00
28 2024-02-22 22:43:00
29 2024-05-11 01:39:00
30 2000-11-26 16:56:00
31 2003-11-03 10:19:00
32 1998-08-19 21:50:00
33 2005-01-17 10:07:00
34 1998-11-22 06:49:00
35 2004-07-16 14:01:00
36 2005-09-09 10:08:00
37 2003-05-28 00:39:00
38 2023-12-31 22:08:00
39 2001-12-28 21:32:00
40 2013-11-05 22:15:00
41 2006-12-13 02:57:00
42 1998-11-28 06:13:00
43 2002-07-20 21:54:00
44 2013-05-14 01:20:00
45 2014-10-24 22:13:00
46 2024-09-14 15:47:00
47 2002-08-24 01:31:00
48 2024-05-06 06:47:00
49 2002-07-15 20:14:00

C:\Users\mahdi\AppData\Local\Temp\ipykernel_25360\4122374591.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]#html datei einlesen

Teil 1 Schritt 3

In [2]:

# URL der Webseite
url = "https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html"
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}
response = requests.get(url, headers=headers)
print(response)

if response.status_code == 200:
    soup = bs4.BeautifulSoup(response.text, 'html.parser')
    
    # Extrahiere den Inhalt des <pre>-Tags
    pre_tag = soup.find('pre')#tabelle faegt mit per tag an
    
    if pre_tag:
        # Extrahiere den Text aus dem <pre>-Tag
        pre_text = pre_tag.text

        # Splitte den Text in Zeilen
        lines = pre_text.split('\n')
 
        # Initialisiere eine leere Liste, um die Daten zu speichern
        data = []
        
        # Überspringe die ersten Zeilen, die keine Daten enthalten
        for line in lines[5:]:
            if line.strip() == "=================================================================================================":
                continue #strip entfernt leerzeichen
            if line.strip() == "":
                continue

            # split String in einzelne Elemente,lerrzeichen als Trennzeichen
            columns = line.split()
            
            # len = Anzahl der Elemente
            if len(columns) == 15:
                data.append(columns)#append elemente hinzufuegen
        
        columns = ['start_date', 'start_time', 'end_date', 'end_time', 'start_frequency', 'end_frequency',
                   'solar_source_location', 'noaa_active_region', 'soft_xray_flare_importance', 'cme_date',
                   'cme_time', 'central_position_angle', 'cme_width', 'cme_speed', 'phtx_link']
        
        # DataFrame data im Spalten zuordnen
        df = pd.DataFrame(data, columns=columns)
        
        # Zeige die Dimensionen des DataFrames an
        print(f"Dimension: {df.shape[0]} x {df.shape[1]}")#f string im {}zusammenfassen
        # shape = dimensionen als tuple [0] = zeilen [1] = spalten
        print(df)
    else:
        print("Pre-Tag nicht gefunden")
else:
    print("Fehler beim Request")

<Response [200]>
Dimension: 527 x 15
     start_date start_time end_date end_time start_frequency end_frequency  \
0           (1)        (2)      (3)      (4)             (5)           (6)
1    1997/01/20      08:56    01/20    09:02           14000         12000
2    1997/04/01      14:00    04/01    14:15            8000          4000
3    1997/04/07      14:30    04/07    17:30           11000          1000
4    1997/05/12      05:15    05/14    16:00           12000            80
..          ...        ...      ...      ...             ...           ...
522  2023/05/05      08:04    05/05    08:50           14000          1300
523  2023/05/07      22:57    05/08    00:10           14000           600
524  2023/05/09      18:51    05/09    20:20           16000          1250
525  2023/06/17      10:37    06/17    10:42           14000          5500
526  2023/06/20      17:54    06/20    18:30           14000          2000

    solar_source_location noaa_active_region soft_xray_flare_importance  \
0                     (7)                (8)                        (9)
1                  ------              -----                       ----
2                  S25E16               8026                       M1.3
3                  S28E19               8027                       C6.8
4                  N21W08               8038                       C1.3
..                    ...                ...                        ...
522                N14E32              13296                       M2.1
523                N16W06              13296                       M1.6
524                N13W31              13296                       M4.2
525                S22E85                 EP                       ----
526                S17E73              13341                       X1.1

    cme_date cme_time central_position_angle cme_width cme_speed phtx_link
0       (10)     (11)                   (12)      (13)      (14)      (15)
1      01/20    09:31                    281        72       175      PHTX
2      04/01    15:18                     74        79       312      PHTX
3      04/07    14:27                   Halo       360       878      PHTX
4      05/12    05:30                   Halo       360       464      PHTX
..       ...      ...                    ...       ...       ...       ...
522    05/05    08:00                   Halo       360       770      PHTX
523    05/07    23:12                   Halo       360      1075      PHTX
524    05/09    19:00                   Halo       360      1209      PHTX
525    06/17    10:48                    113       154       570      PHTX
526    06/20    17:12                   Halo       360      1113      PHTX

[527 rows x 15 columns]

Teil 1, Schritt 4
Daten bereinigen

In [3]:

        
#--/-- = Platzhalter für fehlende datum und --:-- = Platzhalter für fehlende Zeit
missing_values = ["--", "----", "Halo", "------", "-----", "----", "--/--", "--:--", "----", "----", "----"]
df.replace(missing_values, np.nan, inplace=True)# inplace = true ersetzt im orginal daten;false = erstellt eine kopie

#is_halo = neue Spalte; wenn central_position_angle = Halo dann True sonst False
df['is_halo'] = df['central_position_angle'].apply(lambda x: True if x == "Halo" else False)
df['central_position_angle'] = df['central_position_angle'].replace("Halo", np.nan)#ersetzt Halo durch NaN

#insistance(x = objrct , klasse)prüft ob x von klasse ist
df['width_lower_bound'] = df['cme_width'].apply(lambda x: True if isinstance(x, str) and ">" in x else False)
df['cme_width'] = df['cme_width'].apply(lambda x: x.replace(">", "") if isinstance(x, str) else x)#entfernen > von String


#to_datetime = konvert time,date in datetime
df['start_datetime'] = pd.to_datetime(df['start_date'] + ' ' + df['start_time'], errors='coerce')#'coerce'= ungültige Werte in NaN 
df['end_datetime'] = pd.to_datetime(df['start_date'] + ' ' + df['end_time'], errors='coerce')

#im df gabt keine jahr ,und error = coerce
df['cme_date'] = '1997/' + df['cme_date']  

df['cme_datetime'] = pd.to_datetime(df['cme_date'] + ' ' + df['cme_time'], errors='coerce')

#drop = löschen von spalten
df.drop(columns=['start_date', 'start_time', 'end_date', 'end_time', 'cme_date', 'cme_time'], inplace=True)

#spalten am anfang vorrücken, col for col in df: eine for schleife die alle spalten durchgeht if col not in filtert die spalten
cols = ['start_datetime', 'end_datetime', 'cme_datetime'] + [col for col in df if col not in ['start_datetime', 'end_datetime', 'cme_datetime']]
df = df[cols]
df_nasa = df

        # Ergebnis anzeigen
print(df_nasa)

         start_datetime        end_datetime        cme_datetime  \
0                   NaT                 NaT                 NaT
1   1997-01-20 08:56:00 1997-01-20 09:02:00 1997-01-20 09:31:00
2   1997-04-01 14:00:00 1997-04-01 14:15:00 1997-04-01 15:18:00
3   1997-04-07 14:30:00 1997-04-07 17:30:00 1997-04-07 14:27:00
4   1997-05-12 05:15:00 1997-05-12 16:00:00 1997-05-12 05:30:00
..                  ...                 ...                 ...
522 2023-05-05 08:04:00 2023-05-05 08:50:00 1997-05-05 08:00:00
523 2023-05-07 22:57:00 2023-05-07 00:10:00 1997-05-07 23:12:00
524 2023-05-09 18:51:00 2023-05-09 20:20:00 1997-05-09 19:00:00
525 2023-06-17 10:37:00 2023-06-17 10:42:00 1997-06-17 10:48:00
526 2023-06-20 17:54:00 2023-06-20 18:30:00 1997-06-20 17:12:00

    start_frequency end_frequency solar_source_location noaa_active_region  \
0               (5)           (6)                   (7)                (8)
1             14000         12000                   NaN                NaN
2              8000          4000                S25E16               8026
3             11000          1000                S28E19               8027
4             12000            80                N21W08               8038
..              ...           ...                   ...                ...
522           14000          1300                N14E32              13296
523           14000           600                N16W06              13296
524           16000          1250                N13W31              13296
525           14000          5500                S22E85                 EP
526           14000          2000                S17E73              13341

    soft_xray_flare_importance central_position_angle cme_width cme_speed  \
0                          (9)                   (12)      (13)      (14)
1                          NaN                    281        72       175
2                         M1.3                     74        79       312
3                         C6.8                    NaN       360       878
4                         C1.3                    NaN       360       464
..                         ...                    ...       ...       ...
522                       M2.1                    NaN       360       770
523                       M1.6                    NaN       360      1075
524                       M4.2                    NaN       360      1209
525                        NaN                    113       154       570
526                       X1.1                    NaN       360      1113

    phtx_link  is_halo  width_lower_bound
0        (15)    False              False
1        PHTX    False              False
2        PHTX    False              False
3        PHTX    False              False
4        PHTX    False              False
..        ...      ...                ...
522      PHTX    False              False
523      PHTX    False              False
524      PHTX    False              False
525      PHTX    False              False
526      PHTX    False              False

[527 rows x 14 columns]

C:\Users\mahdi\AppData\Local\Temp\ipykernel_25360\3312001739.py:15: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['start_datetime'] = pd.to_datetime(df['start_date'] + ' ' + df['start_time'], errors='coerce')#'coerce'= ungültige Werte in NaN
C:\Users\mahdi\AppData\Local\Temp\ipykernel_25360\3312001739.py:16: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['end_datetime'] = pd.to_datetime(df['start_date'] + ' ' + df['end_time'], errors='coerce')
C:\Users\mahdi\AppData\Local\Temp\ipykernel_25360\3312001739.py:21: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['cme_datetime'] = pd.to_datetime(df['cme_date'] + ' ' + df['cme_time'], errors='coerce')

Teil 2 Frage 1

In [4]:
import pandas as pd

# Assuming df_nasa is already defined DataFrame

# Function to clean and convert soft_xray_flare_importance to numeric
def clean_xray_importance(value):
    if isinstance(value, str):
        # Remove 'X' prefix and any non-numeric characters
        value = value.strip('X').replace('(', '').replace(')', '')
    try:
        return float(value)
    except ValueError:
        return None

# Apply the cleaning function to the column
df_nasa['soft_xray_flare_importance_numeric'] = df_nasa['soft_xray_flare_importance'].apply(clean_xray_importance)

# Drop rows where conversion failed (optional)
df_nasa = df_nasa.dropna(subset=['soft_xray_flare_importance_numeric'])

# Sort df_nasa by the numeric column in descending order
df_nasa_sorted = df_nasa.sort_values(by='soft_xray_flare_importance_numeric', ascending=False)

# Select the top 50 solar events
df_top_50 = df_nasa_sorted.head(50)

# Display the top 50 solar events
print(df_top_50)

# Drop the numeric column if no longer needed
df_nasa_sorted = df_nasa_sorted.drop(columns=['soft_xray_flare_importance_numeric'])

# Continue with the rest of the code
df_spaceweather = df_weather

# Check if both DataFrames are not empty
if not df_spaceweather.empty and not df_nasa.empty:
    # Print columns of both DataFrames to debug
    print("Columns in df_spaceweather:", df_spaceweather.columns)
    print("Columns in df_nasa:", df_nasa.columns)
    
    # Define the columns to compare
    comparison_columns_nasa = ['start_datetime', 'soft_xray_flare_importance']
    comparison_columns_spaceweather = ['start_datetime', 'x_class']

    # Check if the required columns are present in both DataFrames
    missing_columns_spaceweather = [col for col in comparison_columns_spaceweather if col not in df_spaceweather.columns]
    missing_columns_nasa = [col for col in comparison_columns_nasa if col not in df_nasa.columns]

    if missing_columns_spaceweather or missing_columns_nasa:
        print(f"Missing columns in df_spaceweather: {missing_columns_spaceweather}")
        print(f"Missing columns in df_nasa: {missing_columns_nasa}")
    else:
        # Rename columns in df_spaceweather to match df_nasa for comparison
        df_spaceweather_renamed = df_spaceweather.rename(columns={'x_class': 'soft_xray_flare_importance'})

        # Perform a merge to find matches based on comparison criteria
        df_comparison = pd.merge(df_spaceweather_renamed[comparison_columns_nasa], df_nasa[comparison_columns_nasa], 
                                 on=comparison_columns_nasa, how='inner', suffixes=('_spaceweather', '_nasa'))

        # Display the matches
        print(f"Number of matches: {df_comparison.shape[0]}")
        print(df_comparison)

        # Save the matches to a file
        df_comparison.to_csv('vergleich_spaceweather_nasa.csv', index=False)
else:
    print("Error: One or both DataFrames are empty. Please check the data loading process.")

         start_datetime        end_datetime        cme_datetime  \
225 2003-11-04 20:00:00                 NaT 1997-11-04 19:54:00
114 2001-04-02 22:05:00 2001-04-02 02:30:00 1997-04-02 22:06:00
218 2003-10-28 11:10:00                 NaT 1997-10-28 11:30:00
121 2001-04-15 14:05:00 2001-04-15 13:00:00 1997-04-15 14:06:00
219 2003-10-29 20:55:00                 NaT 1997-10-29 20:54:00
10  1997-11-06 12:20:00 1997-11-06 08:30:00 1997-11-06 12:10:00
471 2017-09-06 12:05:00 2017-09-06 08:00:00 1997-09-06 12:24:00
0                   NaT                 NaT                 NaT
222 2003-11-02 17:30:00 2003-11-02 01:00:00 1997-11-02 17:30:00
265 2005-01-20 07:15:00 2005-01-20 16:30:00 1997-01-20 06:54:00
327 2011-08-09 08:20:00 2011-08-09 08:35:00 1997-08-09 08:12:00
292 2005-09-09 19:45:00 2005-09-09 22:00:00 1997-09-09 19:48:00
81  2000-07-14 10:30:00 2000-07-14 14:30:00 1997-07-14 10:54:00
344 2012-03-07 01:00:00 2012-03-07 19:00:00 1997-03-07 00:24:00
130 2001-08-25 16:50:00 2001-08-25 23:00:00 1997-08-25 16:50:00
409 2014-02-25 00:56:00 2014-02-25 11:28:00 1997-02-25 01:25:00
182 2002-07-23 00:50:00 2002-07-23 04:00:00 1997-07-23 00:42:00
101 2000-11-26 17:00:00 2000-11-26 17:15:00 1997-11-26 17:06:00
224 2003-11-03 10:00:00 2003-11-03 12:30:00 1997-11-03 10:06:00
209 2003-05-28 01:00:00 2003-05-28 00:30:00 1997-05-28 00:50:00
152 2001-12-28 20:35:00 2001-12-28 03:00:00 1997-12-28 20:30:00
302 2006-12-13 02:45:00 2006-12-13 10:40:00 1997-12-13 02:54:00
181 2002-07-20 21:30:00 2002-07-20 22:20:00 1997-07-20 22:06:00
373 2013-05-14 01:16:00 2013-05-14 08:20:00 1997-05-14 01:25:00
189 2002-08-24 01:45:00 2002-08-24 03:25:00 1997-08-24 01:27:00
372 2013-05-13 16:15:00 2013-05-13 19:10:00 1997-05-13 16:07:00
20  1998-05-06 08:23:00 1998-05-06 08:35:00 1997-05-06 08:29:00
449 2015-05-05 22:24:00 2015-05-05 23:14:00 1997-05-05 22:24:00
223 2003-11-03 01:15:00 2003-11-03 01:25:00 1997-11-03 01:59:00
11  1997-11-27 13:30:00 1997-11-27 14:00:00 1997-11-27 13:56:00
262 2005-01-15 23:00:00 2005-01-15 00:00:00 1997-01-15 23:06:00
137 2001-09-24 10:45:00 2001-09-24 20:00:00 1997-09-24 10:30:00
255 2004-11-10 02:25:00 2004-11-10 03:40:00 1997-11-10 02:26:00
96  2000-11-24 15:25:00 2000-11-24 22:00:00 1997-11-24 15:30:00
118 2001-04-10 05:24:00                 NaT 1997-04-10 05:30:00
72  2000-06-06 15:20:00 2000-06-06 09:00:00 1997-06-06 15:54:00
313 2011-02-15 02:10:00 2011-02-15 07:00:00 1997-02-15 02:24:00
513 2023-02-17 20:30:00 2023-02-17 04:45:00 1997-02-17 20:12:00
515 2023-03-03 18:14:00 2023-03-03 19:32:00 1997-03-03 18:12:00
329 2011-09-06 22:30:00 2011-09-06 15:40:00 1997-09-06 23:05:00
293 2005-09-10 21:45:00 2005-09-10 01:00:00 1997-09-10 21:52:00
9   1997-11-04 06:00:00 1997-11-04 04:30:00 1997-11-04 06:10:00
389 2013-10-25 15:08:00 2013-10-25 22:32:00 1997-10-25 15:12:00
95  2000-11-24 05:10:00 2000-11-24 15:00:00 1997-11-24 05:30:00
120 2001-04-12 10:36:00 2001-04-12 10:40:00 1997-04-12 10:31:00
253 2004-11-07 16:25:00 2004-11-07 20:00:00 1997-11-07 16:54:00
263 2005-01-17 09:25:00 2005-01-17 16:00:00 1997-01-17 09:30:00
99  2000-11-25 19:00:00 2000-11-25 19:35:00 1997-11-25 19:31:00
178 2002-07-18 07:55:00 2002-07-18 08:45:00 1997-07-18 08:06:00
48  1999-10-14 09:10:00 1999-10-14 10:00:00 1997-10-14 09:26:00

    start_frequency end_frequency solar_source_location noaa_active_region  \
225           10000           200                S19W83              10486
114           14000           250                N19W72               9393
218           14000            40                S16E08              10486
121           14000            40                S20W85               9415
219           11000           500                S15W02              10486
10            14000           100                S18W63               8100
471           16000            70                S08W33              12673
0               (5)           (6)                   (7)                (8)
222           12000           250                S14W56              10486
265           14000            25                N14W61              10720
327           16000          4000                N17W69              11263
292           10000            50                S12E67              10808
81            14000            80                N22W07               9077
344           16000            30                N17E27              11429
130            8000           170                S17E34               9591
409           14000           100                S12E82              11990
182           11000           400                S13E72              10039
101           14000          7000                N18W38               9236
224            6000           400                N08W77              10488
209            1000           200                S07W20              10365
152           14000           350                S26E90               9756
302           12000           150                S06W23              10930
181           10000          2000                S13E90              10039
373           16000           240                N08E77              11748
189            5000           400                S02W81              10069
372           16000           300                N11E85              11748
20            14000          5000                S11W65               8210
449           14000           500                N15E79              12339
223            3000          1500                N10W83              10488
11            14000          7000                N17E63               8113
262            3000            40                N15W05              10720
137            7000            30                S16E23               9632
255           14000          1000                N09W49              10696
96            14000           200                N22W07               9236
118           14000           100                S23W09               9415
72            14000            40                N20E18               9026
313           16000           400                S20W12              11158
513           10000           180                N25E64              13229
515           14000          1100                N22W80              13234
329           16000           150                N14W18              11283
293           14000           200                S13E47              10808
9             14000           100                S14W33               8100
389           16000           200                S06E69              11882
95            14000           100                N20W05               9236
120           14000          7000                S19W43               9415
253           14000            60                N09W17              10696
263           14000            30                N15W25              10720
99             6000          2000                N20W23               9236
178           14000          1500                N19W30              10030
48            14000          4000                N11E32               8731

    soft_xray_flare_importance central_position_angle cme_width cme_speed  \
225                       X28.                    NaN       360      2657
114                       X20.                    261       244      2505
218                       X17.                    NaN       360      2459
121                       X14.                    245       167      1199
219                       X10.                    NaN       360      2029
10                        X9.4                    NaN       360      1556
471                       X9.3                    NaN       360      1571
0                          (9)                   (12)      (13)      (14)
222                       X8.3                    NaN       360      2598
265                       X7.1                    NaN       360       882
327                       X6.9                    NaN       360      1610
292                       X6.2                    NaN       360      2257
81                        X5.7                    NaN       360      1674
344                       X5.4                    NaN       360      2684
130                       X5.3                    NaN       360      1433
409                       X4.9                    NaN       360      2147
182                       X4.8                    NaN       360      2285
101                       X4.0                    NaN       360       980
224                       X3.9                    293       103      1420
209                       X3.6                    NaN       360      1366
152                       X3.4                    NaN       360      2216
302                       X3.4                    NaN       360      1774
181                       X3.3                    NaN       360      1941
373                       X3.2                    NaN       360      2625
189                       X3.1                    NaN       360      1913
372                       X2.8                    NaN       360      1850
20                        X2.7                    309       190      1099
449                       X2.7                    NaN       360       715
223                       X2.7                    304        65       827
11                        X2.6                     98        91       441
262                       X2.6                    NaN       360      2861
137                       X2.6                    NaN       360      2402
255                       X2.5                    NaN       360      3387
96                        X2.3                    NaN       360      1245
118                       X2.3                    NaN       360      2411
72                        X2.3                    NaN       360      1119
313                       X2.2                    NaN       360       669
513                       X2.2                    NaN       360      1315
515                       X2.1                    NaN       360       709
329                       X2.1                    NaN       360       575
293                       X2.1                    NaN       360      1893
9                         X2.1                    NaN       360       785
389                       X2.1                    NaN       360      1081
95                        X2.0                    NaN       360      1289
120                       X2.0                    NaN       360      1184
253                       X2.0                    NaN       360      1759
263                       X2.0                    NaN       360      2094
99                        X1.9                    NaN       360       671
178                       X1.8                    NaN       360      1099
48                        X1.8                    NaN       360      1250

    phtx_link  is_halo  width_lower_bound  soft_xray_flare_importance_numeric
225      PHTX    False              False                                28.0
114      PHTX    False              False                                20.0
218      PHTX    False              False                                17.0
121      PHTX    False              False                                14.0
219      PHTX    False              False                                10.0
10       PHTX    False              False                                 9.4
471      PHTX    False              False                                 9.3
0        (15)    False              False                                 9.0
222      PHTX    False              False                                 8.3
265      PHTX    False              False                                 7.1
327      PHTX    False              False                                 6.9
292      PHTX    False              False                                 6.2
81       PHTX    False              False                                 5.7
344      PHTX    False              False                                 5.4
130      PHTX    False              False                                 5.3
409      PHTX    False              False                                 4.9
182      PHTX    False              False                                 4.8
101      PHTX    False              False                                 4.0
224      PHTX    False              False                                 3.9
209      PHTX    False              False                                 3.6
152      PHTX    False              False                                 3.4
302      PHTX    False              False                                 3.4
181      PHTX    False              False                                 3.3
373      PHTX    False              False                                 3.2
189      PHTX    False              False                                 3.1
372      PHTX    False              False                                 2.8
20       PHTX    False              False                                 2.7
449      PHTX    False              False                                 2.7
223      PHTX    False              False                                 2.7
11       PHTX    False              False                                 2.6
262      PHTX    False              False                                 2.6
137      PHTX    False              False                                 2.6
255      PHTX    False              False                                 2.5
96       PHTX    False              False                                 2.3
118      PHTX    False              False                                 2.3
72       PHTX    False              False                                 2.3
313      PHTX    False              False                                 2.2
513      PHTX    False              False                                 2.2
515      PHTX    False              False                                 2.1
329      PHTX    False              False                                 2.1
293      PHTX    False              False                                 2.1
9        PHTX    False              False                                 2.1
389      PHTX    False              False                                 2.1
95       PHTX    False              False                                 2.0
120      PHTX    False              False                                 2.0
253      PHTX    False              False                                 2.0
263      PHTX    False              False                                 2.0
99       PHTX    False              False                                 1.9
178      PHTX    False              False                                 1.8
48       PHTX    False              False                                 1.8
Columns in df_spaceweather: Index(['rank', 'x_class', 'region', 'start_datetime', 'max_datetime',
       'end_datetime'],
      dtype='object')
Columns in df_nasa: Index(['start_datetime', 'end_datetime', 'cme_datetime', 'start_frequency',
       'end_frequency', 'solar_source_location', 'noaa_active_region',
       'soft_xray_flare_importance', 'central_position_angle', 'cme_width',
       'cme_speed', 'phtx_link', 'is_halo', 'width_lower_bound',
       'soft_xray_flare_importance_numeric'],
      dtype='object')
Number of matches: 0
Empty DataFrame
Columns: [start_datetime, soft_xray_flare_importance]
Index: []

der Datum von Sonneneruption sind im beide daten äquvalent aber alles anderes sind nicht identisch

Teil2 Frage 2

In [5]:
import pandas as pd
from datetime import datetime

def clean_xray_importance(value):
    if isinstance(value, str):
        value = value.strip('X').replace('(', '').replace(')', '')
    try:
        return float(value)
    except ValueError:
        return None

def find_best_matches(df_nasa, df_spaceweather, top_n=50):
    # Convert date columns to datetime
    df_nasa['start_datetime'] = pd.to_datetime(df_nasa['start_datetime'])
    df_spaceweather['start_datetime'] = pd.to_datetime(df_spaceweather['start_datetime'])
    
    # Extract year and month from the datetime columns
    df_nasa['year_month'] = df_nasa['start_datetime'].dt.to_period('M')
    df_spaceweather['year_month'] = df_spaceweather['start_datetime'].dt.to_period('M')
    
    # Convert x_class to numeric in df_spaceweather
    df_spaceweather['x_class_numeric'] = df_spaceweather['x_class'].apply(clean_xray_importance)
    
    # Sort NASA data by soft_xray_flare_importance
    df_nasa['soft_xray_flare_importance_numeric'] = df_nasa['soft_xray_flare_importance'].apply(clean_xray_importance)
    df_nasa_sorted = df_nasa.sort_values(by='soft_xray_flare_importance_numeric', ascending=False)
    
    # Select top N solar events from SpaceWeatherLive data
    df_spaceweather_top = df_spaceweather.head(top_n)
    
    matches = []
    
    for index, event in df_spaceweather_top.iterrows():
        best_match = None
        min_diff = float('inf')
        
        for _, nasa_event in df_nasa_sorted.iterrows():
            if event['year_month'] == nasa_event['year_month']:
                xray_diff = abs(event['x_class_numeric'] - nasa_event['soft_xray_flare_importance_numeric'])
                
                # Calculate a combined difference score
                combined_diff = xray_diff
                
                if combined_diff < min_diff:
                    min_diff = combined_diff
                    best_match = nasa_event
        
        matches.append(best_match)
    
    return pd.DataFrame(matches)

# Beispielverwendung:
# df_nasa = pd.read_csv('path_to_nasa_data.csv')
# df_spaceweather = pd.read_csv('path_to_spaceweather_data.csv')

# Aufruf der Funktion und Ausgabe der Ergebnisse
best_matches = find_best_matches(df_nasa, df_spaceweather)
print(best_matches)

C:\Users\mahdi\AppData\Local\Temp\ipykernel_25360\4081312326.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nasa['start_datetime'] = pd.to_datetime(df_nasa['start_datetime'])
C:\Users\mahdi\AppData\Local\Temp\ipykernel_25360\4081312326.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nasa['year_month'] = df_nasa['start_datetime'].dt.to_period('M')
C:\Users\mahdi\AppData\Local\Temp\ipykernel_25360\4081312326.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nasa['soft_xray_flare_importance_numeric'] = df_nasa['soft_xray_flare_importance'].apply(clean_xray_importance)

                                                    0
0                                                None
1                                                None
2                                                None
3                                                None
4                                                None
5   start_datetime                        2003-10-...
6   start_datetime                        2017-09-...
7   start_datetime                        1997-11-...
8   start_datetime                        2006-12-...
9   start_datetime                        2003-11-...
10  start_datetime                        2017-09-...
11  start_datetime                        2005-01-...
12  start_datetime                        2011-08-...
13  start_datetime                        2006-12-...
14                                               None
15  start_datetime                        2001-12-...
16  start_datetime                        2005-09-...
17                                               None
18  start_datetime                        2000-07-...
19  start_datetime                        2001-04-...
20  start_datetime                        2012-03-...
21  start_datetime                        2005-09-...
22  start_datetime                        2003-10-...
23  start_datetime                        2001-08-...
24  start_datetime                        2014-02-...
25                                               None
26                                               None
27  start_datetime                        2002-07-...
28                                               None
29                                               None
30  start_datetime                        2000-11-...
31  start_datetime                        2003-11-...
32                                               None
33  start_datetime                        2005-01-...
34                                               None
35                                               None
36  start_datetime                        2005-09-...
37  start_datetime                        2003-05-...
38                                               None
39  start_datetime                        2001-12-...
40  start_datetime                        2013-11-...
41  start_datetime                        2006-12-...
42                                               None
43  start_datetime                        2002-07-...
44  start_datetime                        2013-05-...
45                                               None
46                                               None
47  start_datetime                        2002-08-...
48                                               None
49  start_datetime                        2002-07-...

Ich verstehe die Frage nicht ganz, weil es gibt keine identische zeile einzieger gelichheit ist SatrtDatum

In [3]:

import matplotlib.pyplot as plt



# Beispiel-Daten erstellen
data_nasa = {
    'start_datetime': pd.date_range(start='1/1/2000', periods=200, freq='M'),
    'soft_xray_flare_importance': ['X' + str(i % 10) for i in range(200)]
}
data_top_50 = {
    'start_datetime': pd.date_range(start='1/1/2000', periods=50, freq='6M'),
    'soft_xray_flare_importance': ['X' + str(i % 10) for i in range(50)]
}

df_nasa = pd.DataFrame(data_nasa)
df_top_50 = pd.DataFrame(data_top_50)

# Konvertieren der Datumswerte in das datetime-Format
df_nasa['start_datetime'] = pd.to_datetime(df_nasa['start_datetime'])
df_top_50['start_datetime'] = pd.to_datetime(df_top_50['start_datetime'])

# Extrahieren von Jahr und Monat
df_nasa['year_month'] = df_nasa['start_datetime'].dt.to_period('M')
df_top_50['year_month'] = df_top_50['start_datetime'].dt.to_period('M')

# Aggregieren der Anzahl der Flares pro Monat
flare_counts = df_nasa.groupby('year_month').size()
top_50_counts = df_top_50.groupby('year_month').size()

# Erstellen der Grafik
plt.figure(figsize=(12, 6))
plt.plot(flare_counts.index.to_timestamp(), flare_counts, label='Total Flares', color='blue')
plt.scatter(top_50_counts.index.to_timestamp(), top_50_counts, color='red', label='Top 50 Flares', zorder=5)

# Hinzufügen von Titeln und Labels
plt.title('Anzahl der Flares pro Monat')
plt.xlabel('Datum')
plt.ylabel('Anzahl der Flares')
plt.legend()

# Anzeigen der Grafik
plt.show()

ModuleNotFoundError: No module named 'matplotlib'